---
###############################################################################
#
# absent.yml
#
# @author Arsi Atomi
#
###############################################################################

###############################################################################
# SETTING VARIABLES
###############################################################################

- name: "Checking if required variables are defined"
  ansible.builtin.assert:
    that:
      - dnf_sslverify is defined
      - dnf_validate_certs is defined
      - dnf_disable_gpg_check is defined
      - pg_lang is defined
      - pg_versions is defined
    fail_msg: "All tests did not pass"

###############################################################################
# LOOPING THROUGH VERSIONS TO BE REMOVED
###############################################################################

- name: "Looping through versions"
  ansible.builtin.include_tasks: "version_absent.yml"
  loop: "{{ pg_versions }}"
  loop_control:
    loop_var: pg_version

###############################################################################
# ENSURING CRONJOB CONFIGURATION IS ABSENT
###############################################################################

- name: "Ensuring cron configuration is absent"
  ansible.builtin.include_tasks: cron_absent.yml
  when: iac_blueprint.postgresql | selectattr('cron', 'defined') | list | length > 0
  vars:
    iac_cron: >-
      {{ iac_blueprint.postgresql | map(attribute='cron')
         | select('defined') | list | flatten }}

###############################################################################
# ENSURING FILESYSTEM CONFIGURATION IS ABSENT
###############################################################################

- name: "Ensuring filesystem configuration is absent"
  ansible.builtin.include_tasks: fs_absent.yml
  when: iac_blueprint.postgresql | selectattr('directories', 'defined') | list | length > 0
  vars:
    iac_fs_directories: >-
      {{ iac_blueprint.postgresql | map(attribute='directories')
         | select('defined') | list | flatten }}
    iac_fs_files: >-
      {{ iac_blueprint.postgresql | map(attribute='files')
         | select('defined') | list | flatten }}
