---
###############################################################################
#
# present.yml
#
# @author Arsi Atomi
#
###############################################################################

###############################################################################
# SETTING VARIABLES
###############################################################################

- name: "Checking if required variables are defined"
  ansible.builtin.assert:
    that:
      - dnf_sslverify is defined
      - dnf_validate_certs is defined
      - dnf_disable_gpg_check is defined
      - http_proxy is defined
      - https_proxy is defined
      - no_proxy is defined
      - pg_lang is defined
      - pg_versions is defined
    fail_msg: "All tests did not pass"

###############################################################################
# INSTALLING LANGUAGEPACKS IF NEEDED
###############################################################################

- name: "Ensuring langpack is installed"
  ansible.builtin.include_tasks: package_present.yml
  vars:
    pg_package: "glibc-langpack-{{ pg_lang }}"
  when: pg_lang is defined

- name: "Ensuring dnf plugins core is installed"
  ansible.builtin.include_tasks: package_present.yml
  vars:
    pg_package: "dnf-plugins-core"

- name: "Ensuring acl is installed"
  ansible.builtin.include_tasks: package_present.yml
  vars:
    pg_package: "acl"

- name: "Ensuring epel-release is installed"
  ansible.builtin.include_tasks: package_present.yml
  vars:
    pg_package: "epel-release"
  when:
    - ansible_facts["distribution"] in ['Rocky']
    - ansible_facts["distribution_major_version"] in ['8', '9', '10']

- name: "Ensuring openssl is installed"
  ansible.builtin.include_tasks: package_present.yml
  vars:
    pg_package: "openssl"

- name: "Ensuring sed is installed"
  ansible.builtin.include_tasks: package_present.yml
  vars:
    pg_package: "sed"

- name: "Ensuring gpg2 is installed"
  ansible.builtin.include_tasks: package_present.yml
  vars:
    pg_package: "gnupg2"
  when: ansible_facts["distribution"] in ['RedHat', 'Rocky'] and ansible_facts["distribution_major_version"] == '10'

###############################################################################
# LOOPING THROUGH POSTGRESQL VERSIONS TO BE INSTALLED
###############################################################################

- name: "Looping through versions"
  ansible.builtin.include_tasks: "version_present.yml"
  loop: "{{ pg_versions }}"
  loop_control:
    loop_var: pg_version

###############################################################################
# CHANGING POSTGRES USER HOME DIRECTORY
###############################################################################

- name: "Setting pg_real_dir ownership"
  ansible.builtin.file:
    path: "{{ pg_real_dir }}"
    state: directory
    recurse: true
    owner: "{{ pg_os_user }}"
    group: "{{ pg_os_group }}"
    mode: u+rwX,g+rwX,o=
  when:
    - pg_real_dir is defined
    - pg_real_dir != pg_default_dir

- name: "Copying postgresql homedir to '{{ pg_bind_dir }}'"
  ansible.builtin.copy:
    src: "{{ pg_default_dir }}"
    dest: "{{ pg_real_dir }}/.."
    remote_src: true
    owner: "{{ pg_os_user }}"
    group: "{{ pg_os_group }}"
    mode: u+rwX,g+rwX,o=
  when:
    - pg_real_dir is defined
    - pg_real_dir != pg_default_dir

###############################################################################
# ENSURING FILESYSTEM CONFIGURATION
###############################################################################

- name: "Ensuring filesystem configuration is present"
  ansible.builtin.include_tasks: fs_present.yml
  when: iac_blueprint.postgresql.directories is defined
  vars:
    iac_fs_directories: "{{ iac_blueprint.postgresql.directories | default([]) }}"
    iac_fs_files: "{{ iac_blueprint.postgresql.files | default([]) }}"

###############################################################################
# ENSURING CRONJOB CONFIGURATION
###############################################################################

- name: "Ensuring filesystem configuration is present"
  ansible.builtin.include_tasks: cron_present.yml
  when: iac_blueprint.postgresql.cron is defined
  vars:
    iac_cron: "{{ iac_blueprint.postgresql.cron | default([]) }}"
