---
###############################################################################
#
# repo_present.yml
#
# @author Arsi Atomi
#
###############################################################################

###############################################################################
# SETTING VARIABLES
###############################################################################

- name: "Checking if required variables are defined"
  ansible.builtin.assert:
    that:
      - dnf_disable_gpg_check is defined
      - dnf_validate_certs is defined
      - dnf_sslverify is defined
      - dnf_update_cache is defined
      - http_proxy is defined
      - https_proxy is defined
      - no_proxy is defined
      - pg_dnf_repo_path is defined
      - pg_version is defined
    fail_msg: "All tests did not pass"

###############################################################################
# ENSURING REPOSITORY IS PRESENT
###############################################################################

- name: "Setting up pg_repo_available"
  ansible.builtin.set_fact:
    pg_repofile_available: false
    pg_files_available: false

- name: "Clean DNF cache"
  ansible.builtin.command: dnf clean all
  changed_when: false

- name: "Checking if server packages are available already"
  ansible.builtin.shell: >
    set -o pipefail &&
    dnf list postgresql{{ pg_version | string }}-server |
    grep postgresql{{ pg_version | string }}-server |
    awk '{print $1}' |
    awk '{split($0,a,\".\"); print a[1]}'
  environment:
    http_proxy: "{{ http_proxy }}"
    https_proxy: "{{ https_proxy }}"
    no_proxy: "{{ no_proxy }}"
  register: sw_packages
  changed_when: false
  failed_when: sw_packages.rc not in [0, 1]

- name: "Setting up pg_files_available"
  ansible.builtin.set_fact:
    pg_files_available: true
  when: "'postgresql' + pg_version|string + '-server' in sw_packages.stdout_lines"

- name: "Checking if postgresql.org repository file exists"
  ansible.builtin.stat:
    path: "{{ pg_dnf_repo_path }}"
  register: repo_file

- name: "Setting up pg_repo_available"
  ansible.builtin.set_fact:
    pg_repofile_available: true
  when: repo_file.stat.exists

- name: "Ensuring repository RPM key for EL is present if distribution is RedHat and packages were not available"
  ansible.builtin.rpm_key:
    key: "https://download.postgresql.org/pub/repos/yum/keys/PGDG-RPM-GPG-KEY-RHEL"
    state: present
  environment:
    http_proxy: "{{ http_proxy }}"
    https_proxy: "{{ https_proxy }}"
    no_proxy: "{{ no_proxy }}"
  when: 
    - pg_files_available is false
    - pg_repofile_available is false
    - ansible_facts['distribution'] in ['RedHat', 'Rocky']

- name: "Ensuring repository RPM key for Fedora is present if distribution is Fedora and packages were not available"
  ansible.builtin.rpm_key:
    key: "https://download.postgresql.org/pub/repos/yum/keys/PGDG-RPM-GPG-KEY-Fedora"
    state: present
  environment:
    http_proxy: "{{ http_proxy }}"
    https_proxy: "{{ https_proxy }}"
    no_proxy: "{{ no_proxy }}"
  when: 
    - pg_files_available is false
    - pg_repofile_available is false
    - ansible_facts['distribution'] in ['Fedora']

- name: "Ensuring PostgreSQL repository is present if distribution is Fedora and packages were not available"
  ansible.builtin.include_tasks: package_present.yml
  vars:
    pg_package: "https://download.postgresql.org/pub/repos/yum/reporpms/F-{{ ansible_facts['distribution_major_version'] }}-x86_64/pgdg-fedora-repo-latest.noarch.rpm"
  when: 
    - pg_files_available is false
    - pg_repofile_available is false
    - ansible_facts['distribution'] in ['Fedora']

- name: "Ensuring PostgreSQL repository is present if distribution is RedHat and packages were not available"
  ansible.builtin.include_tasks: package_present.yml
  vars:
    pg_package: "https://download.postgresql.org/pub/repos/yum/reporpms/EL-{{ ansible_facts['distribution_major_version'] }}-x86_64/pgdg-redhat-repo-latest.noarch.rpm"
  when: 
    - pg_files_available is false
    - pg_repofile_available is false
    - ansible_facts['distribution'] in ['RedHat', 'Rocky']

###############################################################################
# ENSURING PROXY IS CONFIGURED TO REPOSITORY IF NEEDED
###############################################################################

- name: "Clean DNF cache"
  ansible.builtin.command: dnf clean all
  changed_when: false

- name: "Checking if postgresql.org repository file exists"
  ansible.builtin.stat:
    path: "{{ pg_dnf_repo_path }}"
  register: repo_file

- name: "Setting up pg_repo_available"
  ansible.builtin.set_fact:
    pg_repofile_available: true
  when: repo_file.stat.exists


#- name: "Adding proxy settings to PostgreSQL repo file if it exists and proxy settings are missing but proxy setting is defined"
#  ansible.builtin.lineinfile:
#    path: "{{ pg_dnf_repo_path }}"
#    regexp: '^proxy='
#    line: "proxy={{ http_proxy }}"
#    insertafter: '^\[.*\]$'
#  when: 
#    - pg_repofile_available is true
#    - http_proxy is defined

- name: "Adding proxy settings to PostgreSQL repo file if it exists and proxy settings are missing"
  ansible.builtin.shell: |
    sed -i -E -e '/^proxy=/d' -e '/^\[.*\]$/a proxy={{ http_proxy }}' {{ pg_dnf_repo_path }}

###############################################################################
# ENABLING REPOSITORY
###############################################################################

- name: "Setting variables"
  ansible.builtin.set_fact:
    pg_cli_command: "dnf config-manager --set-enabled pgdg{{ pg_version }}"
  when: 
    - ansible_facts["distribution"] in ['RedHat', 'Rocky'] 
    - ansible_facts["distribution_major_version"] in ['8', '9', '10']
    - pg_repofile_available is true

- name: "Setting variables"
  ansible.builtin.set_fact:
    pg_cli_command: "dnf config-manager --set-enabled powertools"
  when: 
    - ansible_facts["distribution"] in ['Rocky']
    - ansible_facts["distribution_major_version"] in ['8']
    - pg_repofile_available is true

- name: "Setting variables"
  ansible.builtin.set_fact:
    pg_cli_command: "dnf config-manager --set-enabled crb"
  when: 
    - ansible_facts["distribution"] in ['Rocky'] 
    - ansible_facts["distribution_major_version"] in ['9', '10']
    - pg_repofile_available is true

- name: "Setting variables"
  ansible.builtin.set_fact:
    pg_cli_command: "dnf config-manager setopt pgdg{{ pg_version }}.enabled=1"
  when: 
    - ansible_facts["distribution"] == 'Fedora'
    - ansible_facts["distribution_major_version"] in ['41', '42']
    - pg_repofile_available is true

- name: "Ensuring repositories are present"
  ansible.builtin.command: >
    {{ pg_cli_command }}
  register: my_output
  changed_when: my_output.rc == 0
  failed_when: my_output.rc != 0
  when: pg_repofile_available is true

- name: "Writing log"
  ansible.builtin.include_tasks: log_write.yml
  vars:
    iac_log_write: "Enabled repository {{ pg_version }}"

###############################################################################
# EXCLUDING FROM OTHER REPOSITORIES
###############################################################################

- name: "Setting variables"
  ansible.builtin.set_fact:
    pg_cli_command: "dnf config-manager setopt fedora.exclude=postgresql* updates.exclude=postgresql*"
  when: 
    - ansible_facts["distribution"] in ['Fedora']

- name: "Setting variables"
  ansible.builtin.set_fact:
    pg_cli_command: "dnf -qy module disable postgresql"
  when: >
    ansible_facts["distribution"] in ['RedHat','Rocky']
    and ansible_facts["distribution_major_version"] in ['8','9']
    and (pg_disable_postgresql_module | bool)

- name: "Setting variables"
  ansible.builtin.set_fact:
    pg_cli_command: "dnf config-manager --setopt='appstream.exclude=postgresql*' --save"
  when: ansible_facts["distribution"] in ['RedHat','Rocky'] and ansible_facts["distribution_major_version"] == '10'

- name: "Ensuring other postgresql packages are excluded"
  ansible.builtin.command: >
    {{ pg_cli_command }}
  register: my_output
  changed_when: my_output.rc == 0
  failed_when: my_output.rc != 0
  when: pg_cli_command is defined

- name: "Writing log"
  ansible.builtin.include_tasks: log_write.yml
  vars:
    iac_log_write: "Enabled repository {{ pg_version }}"
