{% if pg_autotuning_cpu|lower != 'off' %}
max_worker_processes = {{ ansible_facts["processor_vcpus"] }}
max_parallel_workers = {{ ansible_facts["processor_vcpus"] }}
max_parallel_workers_per_gather = {{ ansible_facts["processor_vcpus"] }}
{% endif %}
